 .favoritersContainer {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    
}

.cardsDisplay{
   
    display: flex;
    flex-direction: row;
}

.headerDiv{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 



.favoritesCard {
    background-color: var(--background-color) !important;
    margin: 10px !important;
    padding: 10px !important;
    border: 1px solid #6930c3 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    background-color: #cbc3e3;
    min-height: 280px;
    width:  320px;
}


.favoritesCardContent{
    
    display: flex !important;
    flex-direction: column  !important;
    align-items: center  !important;
    justify-content: space-around  !important;

}