.container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 30vh;
    
}

.upperDiv {
    
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
    
  
}
.midDiv {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 15px; */
    
}


.lowDiv {
    background-color: var(--background-color);
}


